/*!
 * Foundation dropdown customisation
 */
.f-dropdown.content
  max-width: 400px;
  border-color: $light-grey;
  padding: 1rem;
  border-color: $orange-color;
  &.open
    display: block!important;

  & > h4
    font-size: 1.1rem;
    color: $violet-color;


  &:after
    border-color: transparent transparent $orange-color;
  & h4
    color: black;
    font-weight: normal;

  & ul
    margin-left: 0;
    & li
      color: $grey-color;
      padding: 3px 2px;
      &:hover
        background-color: $orange-color;
        color: $violet-color;
