/*!
 * Orbit Foundation plugin customisation
 */
.orbit-container
  left: 50%;
  margin-left: -300px;
  top: 90px;
  position: relative;
  max-width: 300px;
  background-color: transparent!important;
  min-height: 300px;
  & h2
    font-size: 3rem;
    margin-bottom: 2rem;
  & h3
    font-size: 1rem;
    line-height: 1.4;
    min-height: 70px;

  & .button
    margin-top: 20px;

  & .orbit-timer
    display: none;

.orbit-custom-bullets
  left: 50%;
  margin-left: -300px;
  top: 50px;
  position: relative;
  width: 200px;
  & a.dark-blue-button
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: $light-grey-text;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    padding-top: 5px;
    &.active
      background-color: $green;
    &:hover
      background-color: $green;
  & span.divider
    width: 30px;
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
    height: 1px;
    background-color: $dark-blue;
