/*!
 * Pricing table Foundation customisation
 */
.pricing-table
  &:nth-child(2)
    margin-top: -10px;
  padding: 0 0.1em;
  border: none;
  transition: margin-top 0.3s;
  opacity: 0.9;
  &:hover
    margin-top: -10px;
    opacity: 1;
    transition: margin-top 0.3s;
  & .cta-button .button:hover
    color: $white;
  & .title
  & .price
  & .cta-button
  & .description
    background-color: $light-grey;
    color: $heading-text;
    border: none;
  & .title
    text-transform: uppercase;
    background-color: $violet-color;
    color: white;
  & .description
    text-transform: lowercase;
    color: $heading-text;
    border: none;
    & strong
      display: block;
      font-size: 4.5rem;
      font-weight: 300;
      letter-spacing: -3px;
    & small
      font-size: 0.75rem;
  & .bullet-item
    background-color: #c8bdde;
    border: none;
  & .price
    border: none;
    padding-top: 2rem;
    min-height: 6.1rem;
    & strong
      display: block;
      font-size: 2rem;
      font-weight: 300;
    & p
      font-size: 0.75rem;
      margin-top: 0.4rem;
      margin-bottom: 0;
  & .title
    padding: 1.5rem 1.25rem;

  &.highlighted
    & .title
    & .price
    & .cta-button
      background-color: #c9ebe1;
      color: #0eac8e;
    & .description
      background-color: #0eac8e;
      color: $white;
    & .bullet-item
      background-color: #34c3a6;
      color: $white;
