@import "nib"
@import "./normalize.css"
@import "./foundation.min.css"
@import "./nprogress.css"
@import "./init.styl"



/*!
 * base styles for the page. Override some foundation defaults
 */

*
  text-rendering: initial!important;

body
  color: $body-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;


h1
h2
h3
h4
h5
h6
  color: $heading-text;
  font-family: inherit;
  font-weight: 300;
  line-height: 1;
  text-rendering: initial!important;


/*!
 * basic link styles
 */
a
  color: $link-color;
  transition: opacity 0.3s;
  &:visited
    color: $link-color;
  &:hover
    color: $link-color;
    opacity: 0.8;
    transition: opacity 0.3s;


/*!
 * basic icons styles
 */
i
  transition: opacity 0.3s;
  opacity: 1;
  &:hover
    opacity: 0.7;
    transition: opacity 0.3s;
  &.large
    font-size: 3rem;
    color: $heading-text;
    display: block;
    margin-bottom: 1rem;
    transition: margin-top 0.3s;
    &:hover
      margin-top: -10px;
      transition: margin-top 0.3s;

ul
ol
  list-style: none;
  margin: 0;


body > section
body > header
body > footer
  max-width: 100%;
  & > .row
    max-width: $max-width;
    margin: 0 auto;

body > section
  padding: 3.75em 0 2em;
  & header > p
    margin-bottom: 3rem;

  // if section is divided on columns
  & > .row .columns

    & > h3
      font-size: 1.2rem;
      margin-bottom: 1rem;



// icons

ul
ol
  &.large
    & > li
      & i
        margin: 0 10px 0 0;
        font-size: 1.2em;



.text-uppercase
  text-transform: uppercase;



/*!
 * header section
 */
header.header
  border-top: 5px solid $menu-color;
  border-bottom: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;

header.mobile-header
  border-bottom: 5px solid $menu-color;


/*!
 * footer section
 */
.main-footer
  & ul:not(.inline-list)
    & li
      margin-bottom: 0.8rem;



@import "./button.styl"

@import "./foundation/pricing.styl"
@import "./foundation/dropdown.styl"
@import "./foundation/subnav.styl"


@import "./dreiser.styl"
