@import "nib"
@import "./bootstrap.min.css"
@import "./nprogress.css"


ul
ol
  list-style: none;
  margin: 0;

.resource-report
  margin-bottom: 3.0rem;


  & h4
    margin-bottom: 1.1rem;
    font-weight: bold;



.nav.nav-pills
  & li
    width: 33%;
    text-align: center;
