/*!
 * styles for buttons
 */
button
.button
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-family: inherit;
  transition: background-color 1s;
  &:hover
    transition: background-color 1s;

.button
.button:hover
.button:active
.button:focus
  outline: none;
  box-shadow: none;
