/*!
 * styles for buttons
 */
button
.btn
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-family: inherit;
  transition: background-color 1s;
  &:hover
    transition: background-color 1s;

.btn
.btn:hover
.btn:active
.btn:focus
  outline: none;
  box-shadow: none;


.btn.btn-primary
  background-color: $orange-color;
  color: $violet-color!important;
  background-image: none;
  &:hover
    border-color: $orange-color;
