body > nav
  color: $orange-color;

[data-magellan-expedition] .sub-nav dd a
[data-magellan-expedition] .sub-nav dt a
[data-magellan-expedition] .sub-nav li a
  color: $orange-color;



#app
  min-height: 95%;

.landing-page

  & > .block
    min-width: 100%;
    padding: 2rem 0;
    & header > h2
      margin-bottom: 1rem;
    & div.small-centered
      float: none;
    &.hero
      padding: 0;
    &.orange
      background-color: $orange-color;
      & h2
      & h3
        color: $violet-color;
    &.light-grey
      background-color: $light-grey;
      & h2
        color: $violet-color;
    &.white
      & h2
        color: $violet-color;

  & .login-button
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: $orange-color;

  & .logo-block
    position: absolute;
    top: 100px;
    left: 40%;
    color: $orange-color;
    text-shadow: 0 0 18px #191326;
    & .big-logo
      font-family: 'Playfair Display', serif;
      font-size: 3.4rem;


.check-wrong-word
  background-color: $orange-color;
  padding: 3px 2px;



.alert.label
  background-color: $orange-color;
  color: #211a33;
  font-weight: bold;
  font-size: 14px;

.alert-box
  background-color: $orange-color;
  color: #211a33;
  border: none;

.button
.button.success
  background-color: $orange-color;
  color: $violet-color!important;
  &:hover
  &:focus
    background-color: $orange-color;

.logo a
  background-color: transparent;
  color: $orange-color;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0 1rem;
  border-radius: 7px;
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;



.report-content
  display: block;
  overflow: auto;
  position: relative;
  min-height: 100px;


.resource-report
  margin-bottom: 3.0rem;


  & h4
    margin-bottom: 1.1rem;
    font-weight: bold;


.start-panel
  margin-top: 2rem;
  & select
    margin: 2rem 0;

.login-form
  margin-top: 2rem;


form
  select
    margin-top: 1rem;

.tabs
  & dd
    width: 33%;
    text-align: center;
    & h3
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 1.1rem;


.report-property-content
  font-weight: 300;


#app
  .row h3
    margin-bottom: 2rem;

#nprogress
  & .bar
    background: $orange-color!important;
  & .spinner-icon
    border-top-color: $orange-color!important;
    border-left-color: $orange-color!important;


@media only screen and (max-width: 40em)
  .landing-page .logo-block
    left: 10px;
    top: 0;
    & .big-logo
      font-size: 2.2rem;
    & p
      margin-bottom: 0;
