@import "nib"
@import "./init.styl"


/*!
 * white section
 */
.white-block
  background-color: $white;
  color: inherit;


/*!
 * light-grey section
 */
.light-grey-block
  background-color: $light-grey;
  color: inherit;


