$max-width = 960px;
$link-color = #2c3e50;

$body-text= #221a34;
$heading-text = #9d9d9d;




$white = #ffffff;
$light-grey = #ededed;


$light-grey-text = $light-grey;


$bg-color = $white;



$violet-color = #211a33;
$orange-color = #fcb542;
$grey-color = #bdbdbd;

$menu-color = $violet-color;
$heading-text = $violet-color;
